{% extends 'base.html' %}


{% block content %}
<div class ="container">
    <div class="row">
        <center>
            <div class = "col-8">
                <br><br>
                <h3>Shipped Order</h3>
                <table class="table table-striped table-hover table-bordered">
                    <thead class = 'table-dark'>
                        <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Price</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Date Shipped</th>
                            <th scope="col">Shipped status</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in orders %}
                            <tr>
                                <th scope="row"> <a href = '{% url "orders" items.id  %}' > {{ items.id }} </a> </th>
                                <td>{{ items.amount_paid }}</td>
                                <td>{{ items.email }}</td>
                                <td>{{ items.date_shipped }}</td>
                                <td>
                                    <form method = 'POST'>
                                        {% csrf_token %}
                                        <input type = 'hidden' name = 'shipping_status' value = 'true'>
                                        <input type = 'hidden' name = 'num' value = {{ items.id }}>
                                        <button type = 'Submit' class = 'btn btn-danger btn-sm'>Mark UnShipped</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>  
                <br>
            </div>
        </center>
    </div>
</div>


{% endblock %}